

body {
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight: 700;
}

hr {
    border-color: #7d97ad;
    border-width: 5px;
}

/* Body */

.title-logo {
    margin-top: 20px;
}

.text-muted {
    color: #7d97ad;
}

.text-thin {
    font-weight: 100;
}

.super-title {
    font-size: 60px;
}

.app-title {
    font-size: 35px;
}